.company-logo {
    margin: 25px;
    border: none;
    max-width: 200px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.logo-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.nav-items li {
    list-style: none;
}

.nav-items {
    display: flex;
    gap: 20px;
    margin-right: 15px;
}


.active-link {
    text-decoration: underline;
    color: white;
}

.active-link:hover{
 color: lightgreen;
}

.default-link {
    text-decoration: none;
    color: white;
}

.default-link:hover{
    color: lightgreen;
}